* {
    font-display: swap;
}

body {
    padding: 0;
    margin: 0 20px;
    position: fixed;
    width: calc(100% - 40px);
    height: 100%;
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
}

h1 {
    text-align: center;
    margin: 20px 0;
    border-bottom: 20px solid;
    border-image: url("images/border-nobg.png") 0 0 150 repeat;
    display: inline-block;
}

#icons {
    position: absolute;
    top: 20px;
    right: 0px;
    opacity: 1;
    transition: opacity 1s;
}

#icons a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: 5px;
}

main {
    flex-grow: 1;
}

#resume {
    display: flex;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

#resume.rendered {
    opacity: 1;
}

#categories {
    padding: 0;
    margin: 0;
    margin-right: 20px;
    padding-right: 20px;
    min-width: 150px;
    width: 190px;
}

#categories li {
    list-style-type: none;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    display: table;
    font-weight: bold;
    padding-left: 0;
}

#categories li:first-child {
    padding-top: 0;
}

#categories li:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#categories li.selected:after { 
    width: 100%; 
    left: 0; 
}

#info {
    flex-grow: 1;
    position: relative;
    height: 100%;
    overflow: auto;
}

#info > div {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    user-select: none;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-right: 10px;
}

#info > div.block {
    display: grid;
}

#info > div.visible {
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}

#info .item {
    padding: 15px 0;
    text-decoration: none;
    color: black;
    display: block;
    clear: both;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px #123478;
}

#info .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

#info .item > .item-title {
    font-size: 16px;
    font-weight: 600;
}

#info .item > .item-subtitle {
    font-size: 14px;
    font-style: italic;
    word-break: break-word;
}

#info .item > .item-description {
    font-size: 15px;
    margin-top: 5px;
}

@media only screen and (max-width: 800px) {
    #info > div {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    
    #resume {
        flex-direction: column;
    }

    #categories {
        width: 100%;
        height: initial;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #categories li {
        padding: 7px;
        padding-top: 7px !important;
        display: inline-block;
    }

    #info {
        margin-top: 20px;
        position: static;
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    #info > div {
        height: 100%;
        overflow: auto;
        position: static;
        padding: 0%;
        padding-bottom: 20px;
    }

    #placeslived-info > .item > .item-description {
        padding-bottom: 150%;
    }
    
}